<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Service</title>

    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <th:block th:insert="~{fragments/css-fragment :: css-fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/admin/main/service.css}"/>
</head>

<body>
<div th:replace="~{admin/menu :: menu}"></div>

<div class="content-wrapper">
    <div class="page-header">
        <h2 class="page-title">Service</h2>
        <div class="breadcrumb">
            <a th:href="@{/admin/menu}">Home</a> >
            <a th:href="@{/admin/main/services}">Service</a>
        </div>
    </div>

    <div class="actions">
        <form th:action="@{/admin/main/services/create}" method="get">
            <button class="btn btn-create" type="submit">Create new Service</button>
        </form>
    </div>

    <div class="table-container">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
            <tr class="filters">
                <form th:action="@{/admin/main/services}" method="get" style="display: contents;">
                    <td><input type="text" class="filter-input filter-name" name="name" th:value="${filterParams['name']}" placeholder="Name"/></td>
                    <td></td>
                    <td></td>
                    <td>
                        <select class="filter-select" name="status">
                            <option value="" th:selected="${filterParams['status'] == ''}">All</option>
                            <option value="ACTIVE" th:selected="${filterParams['status'] == 'ACTIVE'}">Active</option>
                            <option value="DEACTIVATED" th:selected="${filterParams['status'] == 'DEACTIVATED'}">Deactivated</option>
                        </select>
                    </td>
                    <td>
                        <div class="btn btn-group-table">
                            <button class="btn btn-filter" type="submit">Filter</button>
                            <a class="btn btn-clear" th:href="@{/admin/main/services}">Clear</a>
                        </div>
                    </td>
                </form>
            </tr>
            </thead>

            <tbody>
            <tr th:each="service : ${services}">
                <td th:text="${service.name}"></td>
                <td th:utext="${#strings.abbreviate(service.description, 30)}"></td>
                <td th:text="${#temporals.format(service.date, 'dd.MM.yyyy - HH:mm')}"></td>
                <td>
                    <form th:action="@{/admin/main/services/changeStatus/{id}(id=${service.id})}" method="get">
                        <input type="hidden" name="page" th:value="${pagination.currentPage}"/>
                        <input type="hidden" name="name" th:value="${filterParams['name']}"/>
                        <input type="hidden" name="status" th:value="${filterParams['status']}"/>
                        <button class="btn btn-status" th:classappend="' ' + ${service.status.toLowerCase()}"
                                th:text="${service.status}" type="submit"></button>
                    </form>
                </td>
                <td>
                    <div class="btn btn-group-table">
                        <form th:action="@{/admin/main/services/edit/{id}(id=${service.id})}" method="get"
                              style="display:inline;">
                            <button class="btn btn-action" type="submit">Edit</button>
                        </form>
                        <form th:action="@{/admin/main/services/delete/{id}(id=${service.id})}" method="post" style="display:inline;">
                            <input type="hidden" name="page" th:value="${pagination.currentPage}"/>
                            <input type="hidden" name="name" th:value="${filterParams['name']}"/>
                            <input type="hidden" name="status" th:value="${filterParams['status']}"/>
                            <button class="btn btn-delete" type="submit">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <span th:if="${pagination.startPage > 1}">
                <a th:href="@{/admin/main/services(page=${pagination.startPage - 1 > 0 ? pagination.startPage - 1 : 1}, name=${filterParams['name']}, status=${filterParams['status']})}">
            &lt;&lt;
                </a>
            </span>

            <span th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                <a th:href="@{/admin/main/services(page=${i}, name=${filterParams['name']}, status=${filterParams['status']})}"
                   th:text="${i}" th:classappend="${i == pagination.currentPage} ? 'active' : ''"></a>
            </span>

            <span th:if="${pagination.endPage < pagination.totalPages}">
                <a th:href="@{/admin/main/services(page=${pagination.endPage + 1}, name=${filterParams['name']}, status=${filterParams['status']})}">
            &gt;&gt;
                </a>
            </span>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/menu-toggle.js"></script>
<script src="/js/submenu-toggle.js"></script>
</body>
</html>
