<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Panel</title>
    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
</head>

<body>
<div th:fragment="menu">
    <header class="header">
        <button class="menu-toggle">☰</button>
        <h1 class="header-title">Admin Panel</h1>
        <div class="header-user">
            <img th:src="@{/images/avatar.svg}" alt="User Avatar"/>
            <span class="header-user-name">Dmytro Muzychuk</span>
        </div>
    </header>

    <aside class="sidebar">
        <nav class="menu sidebar-nav">
            <div class="logo-container">
                <a href="/main"><img class="header-logo" th:src="@{/images/logo.svg}" alt="Royal House Logo"/></a>
            </div>
            <ul>
                <li class="menu-item"><a th:href="@{/admin/main/requests}">Requests</a></li>
                <li class="menu-item"><a th:href="@{/admin/main/objects}">Objects</a></li>
                <li class="menu-item"><a th:href="@{/admin/main/new-buildings}">New buildings</a></li>
                <li class="menu-item"><a th:href="@{/admin/main/services}">Services</a></li>
                <li class="menu-item">
                    <span class="opener">Settings</span>
                    <ul class="sub-menu">
                        <li class="menu-item"><a th:href="@{/admin/setting/contacts}">Contacts</a></li>
                        <li class="menu-item"><a th:href="@{/admin/setting/snap-objects}">Snap objects</a></li>
                        <li class="menu-item"><a th:href="@{/admin/setting/secondary-market}">Secondary market</a></li>
                        <li class="menu-item"><a th:href="@{/admin/setting/edit-services}">Edit services</a></li>
                        <li class="menu-item"><a th:href="@{/admin/setting/about-company}">About company</a></li>
                        <li class="menu-item"><a th:href="@{/admin/setting/contacts}">Contact</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/menu-toggle.js"></script>
<script src="/js/submenu-toggle.js"></script>
</body>
</html>
