<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Panel</title>
    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
</head>

<body>
<div th:fragment="content">
    <header class="header">
        <div class="header-logo">
            <img th:src="@{/images/logo.svg}" alt="Royal House Logo"/>
        </div>
        <h1 class="header-title">Admin Panel</h1>
        <div class="header-user">
            <img th:src="@{/images/avatar.svg}" alt="User Avatar"/>
            <span class="header-user-name">Dmytro Muzychuk</span>
        </div>
    </header>

    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <a th:href="@{/admin/main/requests}" class="sidebar-link">Requests</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/admin/main/objects}" class="sidebar-link">Objects</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/admin/main/new-buildings}" class="sidebar-link">New buildings</a>
                </li>
                <li class="sidebar-item">
                    <a th:href="@{/admin/main/services}" class="sidebar-link">Services</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Settings</a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu-item">
                            <a th:href="@{/admin/setting/contacts}" class="sidebar-submenu-link">Contacts</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a th:href="@{/admin/setting/snap-objects}" class="sidebar-submenu-link">Snap objects</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a th:href="@{/admin/setting/secondary-market}" class="sidebar-submenu-link">Secondary market</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a th:href="@{/admin/setting/edit-services}" class="sidebar-submenu-link">Edit services</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a th:href="@{/admin/setting/about-company}" class="sidebar-submenu-link">About company</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</div>
</body>

</html>
