<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Details</title>

    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <th:block th:insert="~{fragments/css-fragment :: css-fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/admin/main/real-estate.css}"/>
</head>

<body>
<div th:replace="~{admin/menu :: menu}"></div>

<div class="content-wrapper">
    <div class="page-header">
        <h2 class="page-title">Real Estate Details</h2>
        <div class="breadcrumb">
            <a th:href="@{/admin/menu}">Home</a> >
            <a th:href="@{/admin/main/real-estates}">Real Estates</a> >
            <a th:href="@{/admin/main/real-estates/{id}(id=${realEstate.id})}">Real Estate Details</a>
        </div>
    </div>

    <div class="real-estate-gallery">
        <input type="radio" name="gallery" id="img1" checked>
        <input type="radio" name="gallery" id="img2">
        <input type="radio" name="gallery" id="img3">

        <div class="gallery-images">
            <div th:each="photo, iterStat : ${photos}">
                <div th:class="'image' + (iterStat.index + 1)">
                    <img th:src="@{'/images' + ${photo}}" alt="Real Estate Photo">
                </div>
            </div>
        </div>

        <div class="gallery-controls">
            <label for="img1"></label>
            <label for="img2"></label>
            <label for="img3"></label>
        </div>
    </div>

    <div class="table-container">
        <div class="real-estate-details">
            <table class="details-table">
                <tr class="details-row">
                    <th class="header-blue">Name</th>
                    <td th:text="${realEstate.name}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Type</th>
                    <td th:text="${realEstate.type}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-blue">Area (sq.m.)</th>
                    <td th:text="${realEstate.areaSqM}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Price per sq.m ($)</th>
                    <td th:text="${realEstate.priceSqM}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-blue">Total Price ($)</th>
                    <td th:text="${realEstate.totalPrice}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Rooms</th>
                    <td th:text="${realEstate.details.numRooms}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-blue">Floor</th>
                    <td th:text="${realEstate.details.numFloors}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Number of floors</th>
                    <td th:text="${realEstate.details.numStoreys}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-blue">Year Built</th>
                    <td th:text="${realEstate.details.yearBuilt}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Terraces/Balconies</th>
                    <td th:text="${realEstate.details.numTerracesBalconies}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-blue">Date Added</th>
                    <td th:text="${#temporals.format(realEstate.date, 'dd.MM.yyyy - HH:mm')}"></td>
                </tr>
                <tr class="details-row">
                    <th class="header-green">Address</th>
                    <td th:text="${realEstate.address.city + ', ' + realEstate.address.district}"></td>
                </tr>
                <tr class="details-row" th:if="${realEstate.newBuilding != null}">
                    <th class="header-blue">New Building Name</th>
                    <td th:text="${realEstate.newBuilding.name}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/menu-toggle.js"></script>
<script src="/js/submenu-toggle.js"></script>
</body>
</html>
