<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Real Estate</title>
    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/real-estate.css}"/>
</head>
<body>
<div th:replace="~{admin/menu :: menu}"></div>

<div class="content-wrapper">
    <div class="page-header">
        <h2 class="page-title">Real Estates</h2>
        <div class="breadcrumb">
            <a th:href="@{/admin/menu}">Home</a> >
            <a th:href="@{/admin/main/real-estates}">Real Estates</a>
        </div>
    </div>

    <div class="table-container">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Area (sq.m.)</th>
                <th>Price ($)</th>
                <th>Price per sq.m ($)</th>
                <th>Rooms</th>
                <th>Floor</th>
                <th>Number of floors</th>
                <th>Date added</th>
                <th></th>
            </tr>
            <tr class="filters">
                <form th:action="@{/admin/main/real-estates}" method="get" style="display: contents;">
                    <td><input type="text" class="filter-input filter-name" name="name" th:value="${name}" placeholder="Name"/>
                    </td>
                    <td>
                        <select class="filter-select" name="type">
                            <option value="" th:selected="${type == ''}">All</option>
                            <option value="APARTMENT">Apartment</option>
                            <option value="HOUSE">House</option>
                            <option value="COMMERCIAL">Commercial</option>
                            <option value="PLOT">Plot</option>
                        </select>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="number" class="filter-input filter-room" name="room" th:value="${room}" placeholder="Rooms"/>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn-filter" type="submit">Filter</button>
                            <a class="btn-clear" th:href="@{/admin/main/real-estates}">Clear</a>
                        </div>
                    </td>
                </form>
            </tr>

            </thead>
            <tbody>
            <tr th:each="realEstate : ${realEstates}">
                <td th:text="${realEstate.name}"></td>
                <td>
                    <span th:text="${realEstate.type}"
                          th:classappend="|real-estate-label ${realEstate.type.toLowerCase()}|"></span>
                </td>
                <td th:text="${realEstate.areaSqM}"></td>
                <td th:text="${realEstate.totalPrice}"></td>
                <td th:text="${realEstate.priceSqM}"></td>
                <td th:text="${realEstate.numRooms}"></td>
                <td th:text="${realEstate.numFloors}"></td>
                <td th:text="${realEstate.numStoreys}"></td>
                <td th:text="${#temporals.format(realEstate.date, 'dd.MM.yyyy - HH:mm')}"></td>
                <td>
                    <div class="btn-group">
                        <form th:action="@{/admin/main/real-estates/{id}(id=${realEstate.id})}" method="get"
                              style="display:inline;">
                            <button class="btn-action" type="submit">View</button>
                        </form>
                        <form th:action="@{/admin/main/realEstates/delete/{id}(id=${realEstate.id})}" method="post"
                              style="display:inline;">
                            <input type="hidden" name="page" th:value="${currentPage}"/>
                            <input type="hidden" name="name" th:value="${name}"/>
                            <input type="hidden" name="phone" th:value="${type}"/>
                            <input type="hidden" name="email" th:value="${room}"/>
                            <button class="btn-delete" type="submit">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <span th:if="${startPage > 1}">
                <a th:href="@{/admin/main/real-estates(page=${startPage - 10 > 0 ? startPage - 10 : 1}, name=${name}, type=${type}, room=${room})}">&lt;&lt;</a>
            </span>


            <span th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a th:href="@{/admin/main/real-estates(page=${i}, name=${name}, type=${type}, room=${room})}"
                   th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">
                </a>
            </span>

            <span th:if="${endPage < totalPages}">
                <a th:href="@{/admin/main/real-estates(page=${endPage + 1}, name=${name}, type=${type}, room=${room})}">&gt;&gt;</a>
            </span>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/menu-toggle.js"></script>
<script src="/js/submenu-toggle.js"></script>
</body>
</html>
