<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Service</title>

    <th:block th:insert="~{fragments/favicon :: favicon}"></th:block>
    <th:block th:insert="~{fragments/css-fragment :: css-fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/admin/setting/service.css}"/>
</head>

<body>
<div th:replace="~{admin/menu :: menu}"></div>

<div class="content-wrapper">
    <div class="page-header">
        <h2 class="page-title">Edit Service</h2>
        <div class="breadcrumb">
            <a th:href="@{/admin/menu}">Home</a> >
            <a th:href="@{/admin/setting/services}">Services</a> >
            <a th:href="@{/admin/setting/services/edit/{id}(id=${service.id})}">Edit Service</a>
        </div>
    </div>

    <form th:action="@{/admin/setting/services/edit}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${service.id}" />

        <div class="photos-row">
            <div class="photo-upload">
                <div class="form-group">
                    <label for="banner">Banner</label>
                </div>
                <div class="photo-preview">
                    <img th:src="@{'/images' + ${service.bannerUrl}}" alt="Banner Image" id="banner-preview" />
                </div>
                <label class="custom-file-upload">
                    <input type="file" id="banner" name="banner" accept="image/*">
                    <span id="file-chosen1">Select file</span>
                </label>
                <p class="recommended-size">Recommended size: (1920x800)</p>
            </div>

            <div class="photo-upload">
                <div class="form-group">
                    <label for="preview">Preview</label>
                </div>
                <div class="photo-preview">
                    <img th:src="@{'/images' + ${service.photoUrl}}" alt="Preview Image" id="preview-preview" />
                </div>
                <label class="custom-file-upload">
                    <input type="file" id="preview" name="preview" accept="image/*">
                    <span id="file-chosen2">Select file</span>
                </label>
                <p class="recommended-size">Recommended size: (500x350)</p>
            </div>
        </div>

        <div class="text-and-checkbox">
            <div class="form-group">
                <label for="name">Service Name</label>
                <input type="text" id="name" name="name" th:value="${service.name}" placeholder="Service Name" required>
            </div>
            <div class="form-group checkbox-right">
                <label for="status">Status</label>
                <div class="checkbox-wrapper-63">
                    <label class="switch">
                        <input type="checkbox" id="status" name="status" value="ACTIVE" th:checked="${service.status == 'ACTIVE'}">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="service-section">
                <h3>Description</h3>
                <textarea id="description" name="description" th:text="${service.description}" placeholder="Enter description..." rows="5" required> </textarea>
            </div>
        </div>

        <div class="form-actions">
            <a th:href="@{/admin/setting/services}" class="btn btn-cancel">Cancel</a>
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/menu-toggle.js"></script>
<script src="/js/submenu-toggle.js"></script>
<script src="/js/add-file.js"></script>
</body>
</html>
