<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="css-fragment">
    <meta charset="UTF-8">
    <title>CSS</title>
    <link rel="stylesheet" th:href="@{/css/util/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/util/global.css}"/>
    <link rel="stylesheet" th:href="@{/css/util/forms.css}"/>
    <link rel="stylesheet" th:href="@{/css/util/tables.css}"/>
    <link rel="stylesheet" th:href="@{/css/util/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/css/util/pagination.css}"/>
</head>
<body>

</body>
</html>