<div th:fragment="new-building-nav-fragment">
  <div class="new-building-nav">
    <ul>
      <li><a th:href="@{/admin/main/new-buildings/create-main}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-main'} ? 'active' : ''">Main</a></li>
      <li><a th:href="@{/admin/main/new-buildings/create-description}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-description'} ? 'active' : ''">About the project</a></li>
      <li><a th:href="@{/admin/main/new-buildings/create-location}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-location'} ? 'active' : ''">Location</a></li>
      <li><a th:href="@{/admin/main/new-buildings/create-infrastructure}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-infrastructure'} ? 'active' : ''">Infrastructure</a></li>
      <li><a th:href="@{/admin/main/new-buildings/create-panorama}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-panorama'} ? 'active' : ''">Panorama</a></li>
      <li><a th:href="@{/admin/main/new-buildings/create-specification}"
             th:classappend="${currentURI == '/admin/main/new-buildings/create-specification'} ? 'active' : ''">Specification</a></li>
    </ul>
  </div>
</div>
