/* Wrapper for banner and details to control overall width */
.banner-photo-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 50px;
}

/* Banner Section */
.banner-photo,
.new-building-details {
    flex: 1;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.banner-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 18px;
}

.banner-photo-preview span {
    color: #aaa;
    font-size: 12px;
}

/* Photo Section */
.photo-upload {
    flex: 1;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.photo-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 18px;
}

/* Details Section */
.new-building-details {
    display: flex;
    flex-direction: column;
}

/* Form Group Styling */
.form-group.details,
.form-group.new-building {
    max-width: 300px;
    margin-bottom: 30px;
}

/* General Section Styling */
.new-building-section {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.new-building-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #4FC3A1;
}

/* Action Buttons */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
