/* new-building.css */


/* Wrapper for banner and details to control overall width */
.banner-photo-details-wrapper, .location-details-wrapper, .infrastructure-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 50px;
}

/* Banner Section */
.banner-photo,
.new-building-details, .location-block, .infrastructure-block {
    flex: 1;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 560px;
}

.banner-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 18px;
}

.banner-photo-preview span {
    color: #aaa;
    font-size: 12px;
}

/* Photo Section */
.photos-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.photo-upload {
    flex: 1;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.photo-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Textarea for project description */
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #f1f1f1;
    font-size: 14px;
    resize: none;
    margin-top: 20px;
}

/* Details Section */
.new-building-details {
    display: flex;
    flex-direction: column;
}

/* Form Group Styling */
.form-group.details {
    max-width: 300px;
    margin-bottom: 30px;
}

.form-group.new-building {
    max-width: 300px;
    margin-bottom: -30px;
}

/* General Section Styling */
.new-building-section {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.new-building-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #4FC3A1;
}

/* Action Buttons */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.btn-group-table {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-left: -50px;
    margin-right: -50px;
}

/* Custom file upload styles */
.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2e2e2e;
    border: 2px dashed #4FC3A1;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
